
services:
  db:
    image: postgres:15
    container_name: fastapi-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: fastapi_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    container_name: fastapi-app
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:123456@db:5432/fastapi_db
    ports:
      - "8000:8000"
    volumes:
      - .:/app

volumes:
  pgdata:
